body {
  background-image: url("222.gif");
  max-width: 1200px;
  margin: 50px auto 50px auto;
  color: #black;
  background-color: grey;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

.heading {
  padding: 20px auto;
  margin: 60px;
  text-align: center;
  background-color: grey;

}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.pet {
  color:white;
  margin: 5px;
  padding: 5px;
  border: 5px;
  background-color: grey;
  text-align: center;
}
